[Unit] 

Description=Django Application 

After=network.target 

  

[Service] 

User=snp 

WorkingDirectory=/home/snp/app/ 

ExecStart=/home/snp/app/newenv/bin/python3 manage.py runserver 0.0.0.0:8000

Restart=always

Environment=PATH=/home/snp/app/newenv/bin:/usr/bin:/bin

  

[Install] 

WantedBy=multi-user.target